concise/*
copyedit/*
detailed/*
critique/*
discursive/*
improvement/*
plot-points/*
sensitivity/*
continuity/*
entities/*
extract/*
improvement/*
overview/*
palace_env
Drafts/*
Script Development/*
summaries/*
run.log
# Ignore compiled Python files
__pycache__/
*.pyc
# Ignore all .log files
*.log

