concise*/*
copyedit*/*
detailed*/*
critique*/*
discursive*/*
improvement*/*
plot-points*/*
sensitivity*/*
continuity*/*
entities*/*
extract*/*
improvement*/*
overview*/*
palace_env
Drafts/*
Edited/*
Inputs/*
Reports/*
summaries*/*
scripts/*
run.log
Output/*
outputs/*
outputs-26aug2025/*
batch-fetch-tsvs/*
# Ignore compiled Python files
__pycache__/
*.pyc
# Ignore all .log files
*.log
TPV*
.DS_Store
batch_ids*
cli_range.patch
